@model  List<MyLitmusApp.Models.TestingAppModel>
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<body>
    <div class="buttonContainer">
        <form action="/LitmusMainCTRL/Index">
            <input type="submit" value="Home" />
        </form>

        <form action="/LitmusMainCTRL/EmailClients">
            <input type="submit" value="Show Emails   " />
        </form>
    </div>

    <div id="uldiv">
        @foreach (var obj in Model)
        {
            <ul>
                <li> Name:    @obj._AppName</li>
                <li> Code: @obj._AppCode</li>
                <li> Average test time: @obj._TestLength</li>
                <li> Status: @obj._Status</li>
            </ul>
            <br />
        }
    </div>

</body>

