
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}



<body>
    <div class="buttonContainer">
        <form action="/LitmusMainCTRL/Index">
            <input type="submit" value="Go back home" />
        </form>




        <h5>  @ViewBag.passedError</h5>
</body>