
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

 
  

 
<form action="/LitmusMainCTRL/EmailClients">
    <input type="submit" value="Show Emails   " />
</form>
 
<form action="/LitmusMainCTRL/BrowserClients">
    <input type="submit" value="Show Browsers " />
</form>
 message is
     @ViewBag.mes 

 
