<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  There was an ERROR</title>
    <link href="~/Content/StyleSheetBasic.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <table border="1" style="width:800px; font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td colspan="2" style="text-align:center" id="myErrorHead">
                <h3>There was an ERROR</h3>
            </td>
        </tr>
        <tr>
            <td style="width:600px">@RenderBody()</td>
        </tr>
  
    </table>
</body>
</html>