body {
    background-color : #eef1f4;
}
 
#myhead {
    background-color :#e8824f;
}

#myErrorHead {
    background-color :#ff0000;
}


.buttonContainer {
    overflow: hidden;
}

form {
    float: left;
    width:200px;
}

form:first-child {
    margin-right: 50px;
 
}

h3 {
     color: #ffffff ;
     font: bold;
}
